
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<div class='btn btn-danger' id="sweet-alert">
  <i class="far fa-trash-alt"></i> Delete
  <%= link_to '', article_path(@article), method: :delete, id: 'delete-link' %> 
</div>

<%= link_to 'See all articles', articles_path, class: 'btn btn-secondary' %>
