/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

.navbar {
  position: sticky !important;
  top: 0;
  background-color: #00334e;
  padding: 1rem 2rem !important;
}

.navbar_title {
  font-size: 24px;
  color: #ee6f57;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 40px -20px;
  margin-top: 40px;
}

h1 {
  font-family: "Krona One", sans-serif;
  text-align: center;
}

ul {
  padding-top: 40px;
}
